.about-me-img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  filter: brightness(70%);
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.jessie-namelol {
  font-size: 64px;
  animation: floating 2s ease-in-out infinite;
  padding: 10px;
}

.subtext{
  overflow: hidden; 
  border-right: .15em solid #fffdf6; 
  white-space: nowrap; 
  margin: 0 auto;
  letter-spacing: .1em; 
  color: #fffdf6;
  margin-top: 8px;
  font-size: 24px;

  animation: 
  typing 2.5s steps(40, end),
  blink-caret .75s step-end infinite;

}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

/* .hero-container > subtext {
  margin-top: 5%;
  color: #fff;
  font-size: 32px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  border: red 1px solid;

} */

.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 40% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fff4d6; }
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }

  .jessie-namelol{
    font-size: 32px;
  }

  .subtext{
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 30px;
    margin-top: -100px;
  }

  .subtext{
    font-size: 10px;
  }

}