.intro-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  height: 50vh;
  max-width: 100vw;
  font-family: nunito;
}

.separator{
  height: 10vh;
  background: white;
}

.image-container-about {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-photo {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 70%;

}

.text-container {
  max-width: 50%;
  height: 100%;
  text-align: right;
  background-color: #cfd5d1;
}

.title{
  font-size: 5vw;
  padding-right: 50px;
  padding-top: 50px;
  color:#444137;
}

.text{
  padding: 3vw;
  color:#444137;
}

@media (max-width: 768px) {
  .intro-container {
    flex-direction: column;
  }

  .text-container {
    max-width: 100%;
    height: 100%;
    text-align: center;
  }
}