.hero-container{
    /* position: relative;
    width: auto;
    height: 100vh;
    background: #FFFdf6; */
    /* border: solid 1px blue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.jessie-cont{
    text-align: center;
    margin-bottom: 2rem;
}

.jessie{
    position: absolute;
    bottom: 40%; left: 18%; 
    margin: auto;
    text-align: center;
    color: #1C2345;
    font-family: Nunito;
    font-size: 9.5vw;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    animation: floating 2s ease-in-out infinite
    /* border: solid 1px orange ; */
    
}

.clouds{
    border: 1px red solid;

    max-width: 100%;
    height: auto;
    position: absolute;
    top: 15%;
}

.cloud-left {
    left: 0;
    z-index: 1;
  }
  
  .cloud-right {
    right: 0;
    z-index: 1;
  }

.hi{
    position:absolute;
    color: #000;
    font-family: VT323;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: solid red 1px;
    left: 40%; top: 30%;

    animation: floating 2s ease-in-out infinite;
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

@media screen and (min-width:0px) and (max-width:480px){
    .hero-container{
        height: 60vh;
        width: 100vw;
    }

    .jessie{
        bottom: 74%;
    }

    .hi{
        bottom:80%;
    }
}

@media screen and (min-width: 481px) and (max-width: 700px){
    .jessie{
        bottom: 66%;
    }
}

@media screen and (min-width: 701px) and (max-width: 937px){
    .jessie{
        bottom: 65%;
    }
}

@media screen and (min-width: 938px) and (max-width: 1024px){
    .jessie{
        bottom: 40%;
    }
}