.projects-container{
    display: flex;
    flex-direction: column;
    border: 1px red solid;
    justify-content: space-around;
    background-color: #cfd5d1;
}

@media screen and (max-width: 960px) {
    .projects-container{
        height: 50vh;
    }
}
